version: '3.8'
services:
  www:
    build: .
    ports:
      - "8800:80"
    volumes:
      - .src:/var/www/html
    depends_on:
      - db
  
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root1234
      MYSQL_DATABASE: inventory_db
    volumes:
      - db_data:/var/lib/mysql
    
  pma:
      image: phpmyadmin/phpmyadmin
      environment:
        PMA_HOST: db
        MYSQL_ROOT_PASSWORD: root1234
      ports:
        - "8888:80"
      depends_on:
        - db

volumes:
  db_data: